<div class="row mt-2">
    <h4 class="col-lg-10 col-md-9 col-sm-7 col-7">Productos</h4><button type="button" class="btn btn-success col-lg-2 col-md-3 col-sm-5 col-5" routerLink="/addProduct" *ngIf="authService.Admin()">Agregar Producto</button>
</div>
<div class="row justify-content-md-center">

        <div class="card col-lg-4 col-md-6 col-sm-12" *ngFor="let product of productList">
          <div class="row no-gutters">

          <div class="col-lg-12 col-md-12 col-sm-6 col-6">
          <img [src]="product.foto" class="card-img-top col-12" alt="...">
          </div>

          <div class="col-lg-12 col-md-12 col-sm-6 col-6">
            <div class="card-body">
              <h5 class="card-title">Nombre: {{ product.titulo}}</h5>
              <h6>Descripcion: {{ product.descripcion }} <br> Categoria: {{ product.categoria }}</h6>
              <p class="card-text">Existentes: {{ product.cantidad }} - Precio: ${{ product.precio }}</p>
              <a [routerLink]="['/detail/', product.$key]" class="btn btn-primary" *ngIf="authService.Admin()">Editar</a>
              
              <a  [routerLink]="['/voto/', product.$key]"  *ngIf="!authService.Admin()" class="btn btn-primary" >Caracteristicas</a>
            </div>
          </div>


        </div>
    </div>
</div>